<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form     action="registration"  method="POST" >

  <div class="form">
  <div class="form-group">
    <label for="">Full Name:</label>
    <input type="text" class="form-control"   placeholder="Enter full name" name="customer_name" required/>
  </div>

    <div class="form-group">
    <label for="">Username:</label>
    <input type="text" class="form-control"  id="username" placeholder="Enter username" name="username" required/>
  </div>

   <div class="form-group">
    <label for="">Gender:</label>
    <input type="text" class="form-control" id="gender" placeholder="Enter gender" name="gender" required/>
   
  </div>
      <div class="form-group">
    <label for="">Address:</label>
    <input type="text" class="form-control" id="address" placeholder="Enter address" name="address" required/>
  </div>
    <div class="form-group">
    <label for="">Email:</label>
    <input type="email" class="form-control"  id="email" placeholder="Enter email" name="email" required/>
  
  </div>
    <div class="form-group">
    <label for="">Phone Number:</label>
    <input type="number" class="form-control"  id="uname" placeholder="Enter phone number" name="phone_number" required/>
  
  </div>
   </div>
    <div class="form-group">
    <label for="">National id:</label>
    <input type="number" class="form-control"  id="national_id" placeholder="Enter national_id" name="national_id" required/>
  
  </div>
  
  <div class="form-group">
    <label for="">Pin:</label>
    <input type="password" class="form-control"  id="pin" placeholder="Enter pin" name="pin" required/>
     </div>
  </div>
  
  <div class="form-group">
    <label for="">Confirm Pin:</label>
    <input type="password" class="form-control"  placeholder="confirm pin" name="confirm_pin" required/>
   </div>


  <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</body>
</html>